@charset "UTF-8";
/*************************************GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,700i,900');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');


/* ERIC MYERS RESET - HTML5 display-role reset for older browsers */

* { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; margin-left:30px; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,  q:before, q:after {
	content: '';
	content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/**************************/
/**************************/
/* MARC CSS STYLING STARTS HERE */
/**************************/
/**************************/
/************************************GLOBAL*/

body {
	max-width: 1440px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 16px;
	color:#343030;
}

a { text-decoration: none; color: #0099ff }
p { 
	font-size: 90%;
	line-height: 16px;
	font-weight: 100;
	letter-spacing: 0.01em;
	word-spacing: 0.2em;
}

h4 { 
	color: #DB4B4B;
	font-weight: 700;
	font-size: 170%; 
	line-height: 20px; 
	font-family: 'Dancing Script', cursive; 
	
}


b { font-size: 70%; font-weight: 400; color: #8d8787; }
h1 { font-size: 200%; line-height: 50px; }
h2 { font-size: 175%; line-height: 30px;}
h3 { font-size: 150%; line-height: 24px; }
h5 { font-size: 100%; line-height: 18px; }
h5 { font-size: 90%; line-height: 16px; color: #ccc; }

h1, h2, h3, h4, h5, h6, p { margin: 10px 0 15px 0; }


main {
    max-width: 940px;
    margin: 0 auto;
}

header, footer {
	text-align: center;
	background: #A5A2A2;
	margin: 0;
	padding: 10px 0;
	
}

header h1 a {
	font-family: 'Dancing Script', cursive; 
	font-weight: 400;
	font-size: 180%;
	color: #E44A4A;
	
}

#main-nav {
	text-align: center;
	background: #28A3D0;
	padding-top: 0;
	
}

#main-nav  li{
	display: inline;
	padding: 10px 15px;
}

#main-nav li a{
	color: #fff;
	font-size: 120%;
	font-weight: 300;
}

#gallery {
	display: inline-block;
	
}




/**************************************FORMS INPUT STYLE*/
button {
	background: #e55959;
	color: #fff;
	font-weight: 700;
	font-size: 80%;
	border-radius: 0;
	padding: 5px 20px;
	cursor: pointer;
	transition: all 0.5s ease;
	margin: 15px 50px 10px; 
}

#login input { 
	width: 90%; margin: 5px 0 10px 0; }
#admin input { 
	width: 92%; 
	margin: 5px 0; }

input[type=text], input[type=password] { 
	border: 0.5px solid #EAB1B1;
	height: 20px;
	padding: 10px; 
	text-align: left; 
	color: #9E8888;
	box-sizing: border-box;
	box-shadow: 0 2px 2px #888888;
}

input:focus { 
    border: 0.5px #B13030 solid;
	box-sizing: border-box;
	background-color: #98DFD4;
}
 
input[type=file] { 
	padding: 15px; 
	text-align: center;
	border-radius: 0; 
}

input[type=submit] {
	background: #e55959;
	color: #fff;
	font-weight: 700;
	font-size: 80%;
	border-radius: 0;
	padding: 10px 20px;
	cursor: pointer;
	transition: all 0.5s ease;
	width: 80px;
}

textarea::-webkit-input-placeholder {
font-family: 'Lato', sans-serif;	
font-weight: 400;	
color: #7c7979;
text-align: left;	
padding: 5px 0 0 10px;	
}

textarea { 
margin: 0;
border: 0.5px solid #EAB1B1;
}

#gallery {
	margin: 0 auto;
	padding-left: 3%;
}
#gallery li, #preview li {
	list-style: none;
	text-align: center;
	margin: 10px 0;
	
} 

#gallery li a, #preview li a{
	display: inline-block;
	list-style: none;
	text-align: center;
	color: #fff;
	font-weight: 700;
	background: #D6373A;
	padding: 10px;
	width: 150px;
	margin: 10px 0;
	cursor: pointer;
	transition: all 0.3s ease-out;
	
} 

#gallery li a:hover, #preview li a:hover {
	color: #D6373A;
	background: #fff;
	
}

#gallery img {
	width: 100%;
	margin-bottom: 20px;
	padding: 0;
}
#gallery div {
	height: auto;
	padding: 10px 0;
	margin: 10px 10px;
	
}

/**************************RESPONSIVE COLUMNS*/
.col13 { width: 29.33%;}
.col23 { width: 62.66%;}
.col33 { }
.col12 { width: 46%;}
.col14 { width: 21%;}
.col34 { width: 70.5%;}
.col15 { width: 16%;}
.col16 { width: 12.66%;}

.col13, .col12, .col33, .col14, .col34, .col23, .col15, .col16 {
    margin: 1%;
    padding: 1%;
 }

/***********************MEDIA QUERIES******/

@media screen and (max-width: 440px) {
	/*LAYOUT*/
.col13, .col12, .col33, .col14, .col34, .col23, .col15, .col16 {
		width: 96%;
		display: block;
		float: none!important;
	}
	
	
}

/***************************REUSABLE LAYOUT & FONT ADJUSTMENT CLASS*/
.fl {float: left;}
.fr {float: right;}
.clear {clear:both;}
.center {margin: 0 auto;}
.tleft { text-align: left;}
.tright { text-align: right;}
.tcenter { text-align: center; }
.outline { outline: 1px #A69FA1 solid; }

/**************************************REUSABLE IMAGE ADJUSTMENT CLASS*/
.img-ics { width: 25px; }
.img-ic { width: 50px; }
.img-tn { width: 50px; border-radius: 25px; }
.img-pv { width: 40%; }
.img-xs { width: 35%; }
.img-s { width: 50%; }
.img-m { width: 75%; }
.img-l { width: 100%; }
.img-xl { width: 125%; }

/**************************************REUSABLE COLOR & FILTER ADJUSTMENT CLASS*/
.fwhte { color: #fff; }
.fred { color: #e55959; }
.fa-2x { color: #e55959; }
.fr-bw { filter: grayscale(1); }
.fr-sa { filter: saturate(20%); }
.fr-sp { filter: sepia(5); }
.fr-in { filter: invert(20%); }
.fr-se { filter: sepia(60%); }

